<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="TestNGPractice.ListnerImplimentationEx"></listener>
	</listeners>
	<!--groups>
		<run>
			<exclude name="smoke"></exclude>
		</run>
	</groups-->
  <test thread-count="1" name="Test" parallel="classes">
    <classes>
      <class name="TestNGPractice.ExTestCaseGroup"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
